<div id="header-image-box" class="jobs jobs-bg-fade">
  <div class="pagination-centered pseudo-table" style="position:relative;">
    <div class="centering-wrap">
      <h2 class="jobs-title"  style="font-family: 'UTM HelveIns'; font-weight:normal; opacity:0.4;"> 
      <span class="block">FRAMGIA VƯƠN TỚI MỤC TIÊU TRỞ THÀNH</span><br><span class="block">TẬP ĐOÀN IT CHUYÊN NGHIỆP KỸ THUẬT HÀNG ĐẦU CHÂU Á</span>
      </h2>
      <div style="width:100%; height:20px;position:absolute; bottom:20px;padding-bottom: 10px;">
    <a  href="#jobs-positions-container" class="btn btn-primary btn-alt btn-large scroll" style="display:inline-block; margin:0px auto;">Gia nhập Framgia<i class="icon-chevron-down icon-white"></i></a>
      </div>
    </div>
  </div>
</div>
<div id="jobs-mission-box" class="jobs-text-fade">
  <p class="pagination-centered jobs-mission-paragraph">
  <div class="pagination-centered">
    <div class="jobs-title-box">
      <span style="font-size:18px;">3 lý  do khiến Framgia trở thành</span> 
      <h2 class="jobs-title">“Tập đoàn IT chuyên nghiệp kỹ thuật hàng đầu Châu Á”</h2>
    </div>
  </div>
  </p>
</div>
<!-- IMAGE -->
<div class="row-fluid jobs-image-col-wrap">
  <div class="span6">
    <div class="jobs-image-box engagement"></div>
  </div>
  <div class="span6">
    <div class="inner pseudo-table">
      <div class="centering-wrap">
        <h2 class="jobs-title">IT ảnh hưởng tới sự phát triển chung của Việt Nam.</h2>
        <p class="res-paragraph">
        <span>Hiện nay, thuộc nhóm quốc gia đang phát triển, Việt Nam cần có những ngành sản xuất mũi nhọn có sức cạnh tranh mạnh mẽ thúc đẩy kinh tế. Trong đó, IT là lĩnh vực phát triển tối ưu.Chúng tôi tin rằng có thể đào tạo nguồn nhân lực này trở thành những lập trình viên đáp ứng tiêu chuẩn  Nhật bản, góp phần thúc đẩy nền kinh tế .</span>
        <span>Ngoài ra, yêu cầu về Lập trình viên của thị trường châu Á ngày càng cao. Còn nhiều quốc gia chưa thực sự  bắt đầu thông tin hóa. Không đơn thuần  làm theo chỉ thị , cần có kỹ năng tư duy , chủ động sáng tạo . Kỹ sư chia ra 2 mảng, UI/UX là những kỹ năng mà thị trường kỹ sư trên thế giới luôn thiếu hụt. Framgia đào tạo nên những kỹ sư như vậy.</span>
        <span>Những nhân tài có năng lực thì dù đến từ bất cứ đâu luôn nhận được mức lương xứng đáng. Chúng tôi tin rằng điều  đó sẽ sớm trở thành xu hướng toàn cầu. Đặc biệt kỹ sư IT với kỹ năng giao tiếp và ngôn ngữ lập trình nhất định có thể làm việc tại bất cứ đâu, sự chuyển hóa sẽ diễn ra nhanh hơn. </span>
</p>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid jobs-image-col-wrap">
  <div class="table-replace-group">
    <div class="push-bottom">
      <div class="span6">
        <div class="inner pseudo-table">
          <div class="centering-wrap">
            <h2 class="pagination-right">Phát triển hệ thống Nhật Bản sẽ thay đổi xu hướng toàn cầu.</h2>
            <p class="res-paragraph pagination-right">
            <span>Phát triển hệ thống của Nhật chủ yếu tập trung vào cơ cấu SIer. Có rất nhiều điểm chưa sáng tỏ về kết thúc hay độc quyền hướng tới phát triển Offshore. Tuy vậy, phát triển hệ thống dần mang những đặc thù riêng như tính không giới hạn về địa điểm, ngôn ngữ . Chủ động thay đổi phương thức sẽ thu hút tạo nên Team và khả năng tiến hành dự án. Những năm gần đây  nếu đặt ra các nguyên tắc trong  giao tiếp và quản lý dự án, chúng tôi cho rằng thực sự  tạo nên những Đội phát triển toàn cầu, hoàn thiện môi trường, không lệ thuộc khoảng cách.
 Nhật bản đã bước vào thời kỳ mà sự hiện diện của các Global Team là điều hiển nhiên, có rất nhiều ví dụ thực tế về phát triển Offshore. Có ý kiến cho rằng lập trình viên Nhật Bản đang thiếu hụt cả nhân lực cũng như ý tưởng, điều kiện kinh tế. Tại Framgia,  sự thiếu hụt đó được giải quyết bằng việc đào tạo nhân lực nước ngoài.
</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="push-top">
      <div class="span6">
        <div class="jobs-image-box enjoyment"></div>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid jobs-image-col-wrap">
  <div class="span6">
    <div class="jobs-image-box enpowerment"></div>
  </div>
  <div class="span6">
    <div class="inner pseudo-table">
      <div class="centering-wrap">
        <h2 class="">Thay đổi thế giới IT</h2>
        <p class="res-paragraph">
          <span>Internet phát triển, thông tin được chuyền tải với tốc độ và số lượng cao. Toàn cầu hóa đang diễn ra  nhanh chóng từ Trung Quốc tới các nước đang phát triển. Dựa trên đăng ký LCC ,thương mại thế giới chuyển sản xuất tới  nơi chi phí rẻ tạo lợi nhuận . Đã tới lúc thông tin, con người, tài chính  dễ dàng vượt khỏi biên giới,  cần tái thiết lập quan niệm cũng như quyền lực tập trung của các nước phát triển cũng như thay đổi chính sách phù hợp xu thế. Trong quá trình này, hoạt động trong lĩnh vực IT, Framgia đóng góp vai trò thúc đẩy sự hình thành của những nguyên tắc mới.</span>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- CULTURE -->
<div id="jobs-culture-container">
  <div class="pagination-centered">
    <div class="jobs-title-box">
      <h2 class="jobs-title">Phẩm chất nhân lực tại Framgia</h2>
      <p>Yêu thích nghề lập trình viên, viết phần mềm  dịch vụ, ứng dụng.Thích thử thách, khám phá, học hỏi tìm kiếm sự ưu việt,  kỹ thuật mới.<br>Có tư duy logic  hệ thống ( tập hợp, đào tạo Kỹ sư,  xây dựng chất lượng, phát triển cảm quan hóa hệ thống...).Đặc biệt yêu thích  tư duy tìm ra biện pháp cải tiến.<br>Phát triển kinh nghiệm, kỹ năng bản thân,  sẵn sàng hướng dẫn người khác.Đặt lợi ích của tập thể trên lợi ích cá nhân.<br>Tin rằng mình sẽ trở thành kỹ sư với năng lực và trình độ thế giới và nỗ lực  hết mình tới mục tiêu.</p>
    </div>
  </div>
  <div class="container wide">
<!--
    <button id="slider-to-back"></button>
    <button id="slider-to-next"></button>
--> 
    <div id="royal-slider-wrap">
      <div class="royalSlider  rsDefaultInv">
        <div class="rsContent">
          <div class="jobs-culture-slider-wrap">
            <div class="slider-image-cols">
            <div class="image-box team-all"></div>
            </div>
            <div class="slider-image-cols text-box">
              <div class="culture-text-box pseudo-table">
                <div class="centering-wrap">
                  <h3>Mục tiêu Phát triển.</h3>
                  <p>Nhằm thực hiện mục tiêu , Framgia luôn chào đón đội ngũ lập trình viên cao cấp. Không phải bất kỳ ai cũng dễ dàng vươn lên vị trí cấp cao, cũng như không phải tuyển thủ nào cũng gia nhập FC Barcelona , Real Madrid. Chỉ những cá nhân nỗ lực hết mình mới có thể phát triển lên tầm cao mới.
Framgia luôn muốn được cộng tác với những kỹ sư có tinh thần vượt lên chính mình, dù vinh quang hay gian khó cũng sẵn sàng đón nhận thử thách. Ngoài  hướng tới mục tiêu trở thành  kỹ sư hàng đầu thế giới, tinh thần tư duy học hỏi, hợp tác làm việc với đồng nghiệp cũng rất quan trọng. Chúng tôi là coi trọng sự đoàn kết hữu nghị cùng phát triển.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rsContent">
          <div class="jobs-culture-slider-wrap">
            <div class="slider-image-cols">
            <div class="image-box great-tools"></div>
            </div>
            <div class="slider-image-cols text-box">
              <div class="culture-text-box pseudo-table">
                <div class="centering-wrap">
                  <h3><span>Tính Chuyên Nghiệp</span></h3>
                  <p>Framgia khuyến khích toàn bộ nhân viên hướng tới sự chuyên nghiệp. Chuyên nghiệp tức là tạo dựng thương hiệu riêng  và chịu trách nhiệm với điều đó. Tính chuyên nghiệp bao gồm giải quyết triệt để những vấn đề, hoàn thiện từng chi tiết nhỏ nhất trong công việc. Kỹ sư chuyên nghiệp là người có trình độ cao, không thua kém bất cứ ai, luôn học hỏi nâng cao kinh nghiệm, đáp ứng yêu cầu cao, mang tới sự hài lòng cũng như sự khâm phục từ khách hàng.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rsContent">
          <div class="jobs-culture-slider-wrap">
            <div class="slider-image-cols">
            <div class="image-box at-home"></div>
            </div>
            <div class="slider-image-cols text-box">
              <div class="culture-text-box pseudo-table">
                <div class="centering-wrap">
                  <h3><span>Teamwork</span></h3>
                  <p>Thế mạnh của Framgia là tinh thần tập thể. Sự thành công của mỗi cá nhân cũng là sự thành công của tập thể, niềm tin, sự hợp tác của mọi người đem đến sức mạnh  nhóm.  Vượt lên những khác biệt về sắc tộc, quốc tich, tuổi tác, Framgia xây dựng môi trường làm việc tôn trọng lẫn nhau, hỗ trợ và đào tạo thành viên hoàn thành công việc, phát triển năng lực. Chúng tôi muốn xây dựng Framgia như một gia đình lớn mà ở đó mọi người cùng nhau chia sẻ  niềm vui cũng như gian khó.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rsContent">
          <div class="jobs-culture-slider-wrap">
            <div class="slider-image-cols">
            <div class="image-box your-growth"></div>
            </div>
            <div class="slider-image-cols text-box">
              <div class="culture-text-box pseudo-table">
                <div class="centering-wrap">
                  <h3><span>Sự sáng tạo</span></h3>
                  <p>Framgia muốn tạo nên nền tảng mới cho lĩnh vực IT. Bước vào thời kỳ biến đổi  quan niệm và nguyên tắc chúng tôi mong rằng những doanh nghiệp, quốc gia có sức mạnh và kinh tế, để đạt được lợi ich của mình không phải hi sinh cá thể nào đó. Quan niệm và luật lệ mới sẽ tạo cơ hội công bằng cho các quốc gia đã và đang phát triển.  Nền tảng và sự bình đẳng mới được ứng dụng trong thế giới IT. Để đạt tới mục tiêu, Framgia rất cần đội ngũ kỹ sư giỏi giàu niềm tin và nhiệt huyết.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /CULTURE -->

<!-- TEAM -->

<div id="jobs-team-container">
  <div class="container wide">
    <div class="pagination-centered">
      <div class="jobs-title-box">
        <h2 class="jobs-title">Thành viên Framgia</h2>
        <p>Sự phát triển của bạn là sự phát triển của Framgia.</p>
      </div>
    </div>
    <div class="team-row-group">
    <a href="#jobs-positions-container" class="scroll"><div class="team-cols" id="welcome">
            <div class="inner">
              <div class="plus-you-box pagination-centered vertical-center">
                <div>
                  <h1>
                    <i class="icon-user"></i>
                  </h1>
                  <h4><i class="icon-plus"></i></h4>
                </div>
              </div>
            </div>
      </div></a>    
    <div class="team-cols">
          <div class="inner">
            <img src="/assets/member/member_fujimoto.jpg" alt="" data-team-name="Fujimoto" data-team-job="CEO"  data-team-country="'Framgia luôn đón chờ những kỹ sư sẵn sàng nỗ lực nâng cao trình độ tới làm việc.'" class="before" />
            <img src="/assets/member/member_fujimoto2.jpg" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="/assets/member/member_homma.jpg" alt="" data-team-name="Homma" data-team-job="CTO"  data-team-country="'Luôn tự tìm ra niềm vui trong việc phát triển hệ thống theo cách riêng.'" class="before" />
            <img src="/assets/member/member_homma2.jpg" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="/assets/member/member_kobayashi.jpg" alt="" data-team-name="Kobayashi" data-team-job="COO"  data-team-country="' Wasshoi Asia, Nào cùng nhau làm thế giới kinh ngạc.'" class="before" />
            <img src="/assets/member/member_kobayashi2.jpg" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="/assets/member/member_dung.jpg" alt="" data-team-name="Xuân Dũng" data-team-job="Division Manager 1"  data-team-country="'Framgia là nơi mọi người vượt qua rào cản văn hóa, từ châu Á cùng nhau chinh phục thế giới.'" class="before"/>
            <img src="/assets/member/member_dung2.jpg" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="/assets/member/member_bich.jpg" alt="" data-team-name="Ngọc Bích" data-team-job=" QA Group Leader"  data-team-country="' QA không chỉ là bộ phận đảm bảo chất lượng mà còn chịu trách nhiệm về sự hoàn mĩ của sản phẩm'" class="before"/>
            <img src="/assets/member/member_bich2.jpg" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="/assets/member/member_son.jpg" alt="" data-team-name="Nam Sơn" data-team-job="Infra Group Member"  data-team-country="'Bạn hãy yên tâm làm việc, hệ thống hãy để tôi lo'" class="before" />
            <img src="/assets/member/member_son2.jpg" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="/assets/member/member_trong.jpg" alt="" data-team-name="Bá Trọng" data-team-job="BrSE"  data-team-country="'Hãy vào Framgia và phát huy tối đa những lợi thế của mình'" class="before"/>
            <img src="/assets/member/member_trong2.jpg" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="/assets/member/member_uocmo.jpg" alt="" data-team-name="Ước Mơ" data-team-job="HR Group Member"  data-team-country="'Hãy coi mọi khó khăn là thử thách và cơ hội để rèn luyện bản thân trở nên tốt hơn'" class="before"/>
            <img src="/assets/member/member_uocmo2.jpg" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="/assets/member/member_toan.jpg" alt="" data-team-name="Đức Toàn" data-team-job="Division sub Manager 1"  data-team-country="'Môi trường làm việc khơi dậy niềm cảm hứng tìm hiểu công nghệ, giải quyết vấn đề'" class="before" />
            <img src="/assets/member/member_toan2.jpg" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="/assets/member/member_tuan.jpg" alt="" data-team-name="Ngọc Tuấn" data-team-job="Division Manager 3"  data-team-country="'Cơ hội và bản lĩnh'" class="before" />
            <img src="/assets/member/member_tuan2.jpg" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="/assets/member/member_phuong.jpg" alt="" data-team-name="Hoài Phương" data-team-job="Programmer"  data-team-country="'Sáng tạo và chia sẻ để cùng nhau tạo ra sản phẩm hoàn hảo'" class="before" />
            <img src="/assets/member/member_phuong2.jpg" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="/assets/member/member_khanh.jpg" alt="" data-team-name="Duy Khánh" data-team-job="Group 4 Leader"  data-team-country="'Có người nói lập trình viên là những người khô khan cứng nhắc. Hãy cùng chúng tôi chứng tỏ điều ngược lại'" class="before"/>
            <img src="/assets/member/member_khanh2.jpg" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="/assets/member/member_vu.jpg" alt="" data-team-name="Đình Vũ" data-team-job="Group 1 Leader"  data-team-country="'Hãy làm việc với niềm đam mê lớn nhất mỗi ngày'" class="before"/>
            <img src="/assets/member/member_vu2.jpg" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="/assets/member/member_tuanchu.jpg" alt="" data-team-name="Anh Tuấn" data-team-job="Training Group Leader"  data-team-country="'Thái độ làm việc tích cực chính là chìa khóa cho thành công của bạn'" class="before"/>
            <img src="/assets/member/member_tuanchu2.jpg" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="/assets/member/member_hang.jpg" alt="" data-team-name="Minh Hằng" data-team-job="Programmer"  data-team-country="'Đam mê lập trình - Framgia sẽ là nơi thỏa mãn niềm đam mê của bạn'" class="before"/>
            <img src="/assets/member/member_hang2.jpg" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <!-- LỊNH
    <div class="team-cols">
          <div class="inner">
            <img src="/assets/member/member_linh.jpg" alt="" data-team-name="lệ Linh" data-team-job="Tester"  data-team-country="' Làm việc với người nhà, thư giãn với những người bạn, học hỏi với những người thầy '" class="before"/>
            <img src="/assets/member/member_linh2.jpg" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    -->
    <div class="team-cols">
          <div class="inner">
            <img src="/assets/member/member_koya.jpg" alt="" data-team-name="Koya" data-team-job="Programmer"  data-team-country="'Hỡi anh em Framgia, cùng bước qua Grandline tiến vào Tân thế giới'" class="before"/>
            <img src="/assets/member/member_koya2.jpg" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
     <div class="team-cols">
          <div class="inner">
            <img src="/assets/member/member_Takuma.jpg" alt="" data-team-name="Miyake" data-team-job="Infra Group Member"  data-team-country="'Cùng thắp sáng tương lai Asia'" class="before"/>
            <img src="/assets/member/member_Takuma2.jpg" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
  </div>


  </div>
</div>
<!-- /TEAM -->
<!-- POSITIONS -->
<div id="jobs-positions-container">
  <div class="pagination-centered">
    <div class="jobs-title-box">
      <h2 class="jobs-title">Hãy gia nhập và thành công cùng chúng tôi.</h2>
      <p>Sự phát triển của bạn là sự phát triển của Framgia....</p>
    </div>
    <div class="container wide">
      <div class="row-fluid of-hidden">
        <div class="span4">
          <div class="category-image-box creative">
            <div class="title-box">
              <h2 class="pagination-centered">Creative</h2>
              <p>Đội ngũ sáng tạo và kiểm thử</p>
            </div>
          </div>
          <div class="category-box">
            <div class="category-box-inner">
              <ul>
                <li><a href="#engineer-qa" data-toggle="modal">QA</a> </li>
                <li><a href="#creative-web-designer" data-toggle="modal">Web Designer</a></li>
                <li><a href="#creative-graphic-designer" data-toggle="modal">UI/UX Designer</a></li>
                <li><a href="#creative-game-designer" data-toggle="modal">Game Mobile Artist</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="category-box">
            <div class="category-image-box engineer">
              <div class="title-box">
                <h2 class="pagination-centered">Engineering</h2>
                <p>Đội ngũ kỹ sư phần mềm</p>
              </div>
            </div>
            <div class="category-box-inner">
              <ul>
                <!-- <li><a href="#engineer-pm" data-toggle="modal">Project Manager</a></li> -->
                <li><a href="#engineer-intership" data-toggle="modal">New Developer (<em>Đang Tuyển</em>) </a></li>
                <li><a href="#engineer-bse" data-toggle="modal">Bridge SE (<em>Đang Tuyển</em>)</a></li>
                <li><a href="#engineer-comter" data-toggle="modal">Technical Comter (<em>Đang Tuyển</em>)</a></li>
                <li><a href="#engineer-rails" data-toggle="modal">Ruby on Rails Developer (<em>Đang Tuyển</em>)</a></li>
                <li><a href="#engineer-php" data-toggle="modal">PHP Developer (<em>Đang Tuyển</em>) </a></li>
                <li><a href="#engineer-android" data-toggle="modal">Android Developer (<em>Đang Tuyển</em>) </a></li>
                <li><a href="#engineer-ios" data-toggle="modal">iOS Developer (<em>Đang Tuyển</em>) </a></li>
                <li><a href="#engineer-unity" data-toggle="modal">Unity Engineer Developer (<em>Đang Tuyển</em>) </a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="category-image-box business">
            <div class="title-box">
              <h2 class="pagination-centered">Back Office</h2>
              <p>Hành chính văn phòng</p>
            </div>
          </div>
          <div class="category-box">
            <div class="category-box-inner">
              <ul>
                <li><a href="#biz-partner-hr" data-toggle="modal">Human Resource</a></li>

                <!-- <li><a href="#biz-direct-sales" data-toggle="modal">Demo Java Jobs</a></li>
                <li><a href="#biz-admin-manager" data-toggle="modal">Demo Ruby & Rails Jobs</a></li>
                <li><a href="#biz-pr-manager" data-toggle="modal">Demo Training Jobs</a></li>

                <li><a href="#biz-customer-support" data-toggle="modal">カスタマーサポート</a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal hide fade job-modal" id="biz-admin-manager"><div class="modal-header"><button class="close" data-dismiss="modal">×</button><h3>Demo Ruby & Rails Jobs</h3></div><div class="modal-body">
<p>Sử dụng framework rất hay Ruby on Rail (ROR) để xây dựng dễ dàng và nhanh chóng các webiste. Chỉ cần các bạn có kiến thức cơ bản về lập trình cũng như mô hình MVC là có thể dễ dàng tiếp cận với ngôn ngữ mạnh mẽ này. Các thành viên team đều rất trẻ và đam mê với công việc. Welcome to Framgia</p>
<img src="/assets/Team-Rails.jpg">
<h5>仕事内容</h5>
<ul>
<li>決算処理／資金繰り／予算管理などの、財務経理業務全般</li>
<li>顧客管理／顧客対応／データ分析などの、バックオフィス業務全般</li>
<li>事業計画や戦略の立案／経営数値の分析などの、経営管理業務全般</li>
</ul>
<h5>必須の経験・能力</h5><ul>
<li>日商簿記3級程度の知識</li>
<li>財務経理の実務経験2年以上</li>
<li>経営管理やデータ分析業務の経験</li>
</ul><h5>望ましい経験/能力</h5><ul>
<li>IT／金融業界での経理経験</li>
<li>マネジメント経験</li>
</ul>
</div><div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path %>">Apply Now</a></div></div>
<div class="modal hide fade job-modal" id="biz-pr-manager"><div class="modal-header"><button class="close" data-dismiss="modal">×</button><h3>Demo Training Jobs</h3></div><div class="modal-body">
<p>"Định hướng của chúng tôi về tuyển dụng và phát triển nhân lực là cung cấp các khóa học đào tạo nội bộ cho tất cả nhân viên.<br> 
Chương trình đào tạo của Framgia là nhằm:<br>
- Xây dựng năng lực kỹ thuật của chúng tôi.<br>
- Mở rộng quy mô lực lượng lao động của chúng tôi.<br>
- Hỗ trợ phát triển kinh doanh bền vững.<br>
- Bổ sung và nâng cao sự nghiệp của nhân viên.<br>
Chương trình đào tạo của chúng tôi bao gồm bốn lĩnh vực:<br>
- Software Engineering: Requirement, BA, OOAD, MVC, Agile, Testing.<br>
- Management: project management, team management, and leadership.<br>
- Technologies: Ruby on Rails, Java, .Net, PHP, IOS, Android, ...<br>
- Communication: working process, soft skills."</p>
<h5>必須の経験・能力</h5><ul>
<li>広告代理店またはインハウスにおける5年以上のPR経験</li>
<li>3年以上のブランド構築の経験</li>
</ul><h5>望ましい経験/能力</h5><ul>
<li>IT／金融分野での実務経験</li>
<li>ソーシャルメディアを用いたPRの実務経験</li>
<li>主要な新聞、雑誌、オンラインメディアとの強いリレーションシップ</li>
<li>ソーシャルメディア、ブロガーへの深い理解</li>
</ul>
</div><div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path %>">Apply Now</a></div></div>
<div class="modal hide fade job-modal" id="biz-customer-support"><div class="modal-header"><button class="close" data-dismiss="modal">×</button><h3>カスタマーサポート</h3></div><div class="modal-body"><p>Framgiaの決済サービスをご利用いただく個人・企業のサポート業務全般を担当いただきます。カスタマーサポートはコイニーの顔となり、また、お客さまの声を吸い上げる最も重要なチームとなります。ぜひコイニーらしく、お客さまと向きあって、安心しておつかいいただけるようサポートください。
</p><h5>仕事内容</h5>
<ul>
<li>Framgiaの決済サービスをご利用になられる個人・企業の電話、メール対応</li>
<li>お問い合わせ内容の分析とレポート、改善提案</li>
<li>お客さま対応ガイドライン／FAQの企画、策定</li>
<li>サポート業務効率化のための各種施策</li>
</ul>
<p></p>
<h5>必須の経験・能力</h5><ul>
<li>3年以上の電話およびメールによるカスタマーサポートの経験</li>
<li>Word、Excel、PowerPointを業務での資料作成</li>
</ul><h5>望ましい経験/能力</h5><ul>
<li>コールセンターの立ちあげの経験</li>
<li>金融サービスまたはWEBサービスでのクレーム対応の経験</li>
</ul>
</div><div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path %>">Apply Now</a></div></div>
<div class="modal hide fade job-modal" id="biz-direct-sales"><div class="modal-header"><button class="close" data-dismiss="modal">×</button><h3>Demo Java Jobs</h3></div><div class="modal-body">
<p>Sử dụng ngôn ngữ Java với các framework Apache Wicket, Seasar2 và công cụ tự động build project Maven để xây dựng hệ thống website. Ngoài ra các member trong Team tích cực tìm hiểu những tính năng mới của Java 8 để ứng dụng vào trong các project.</p>
<img src="/assets/Team-Java.jpg">
<h5>仕事内容</h5>
<ul>
<li>Framgiaの決済サービスを導入いただく企業の選定、交渉及び契約</li>
</ul>
<p></p>
<h5>必須の経験・能力</h5><ul>
<li>交渉に関する秀でた経験</li>
<li>様々な利害関係を理解し、事業を推進した経験</li>
<li>ドキュメンテーション能力</li>
</ul><h5>望ましい経験/能力</h5><ul>
<li>5年以上の営業経験</li>
<li>大手企業または地方自治体におけるマネジメント層との交渉、折衝の経験</li>
<li>インターネット業界または金融業界でのビジネス開発業務の実務経験</li>
<li>クレジットカード業界または決済業界での実務経験</li>
</ul>
</div><div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path %>">Apply Now</a></div></div>
<div class="modal hide fade job-modal" id="biz-partner-hr"><div class="modal-header"><button class="close" data-dismiss="modal">×</button><h3>Human Resouce</h3></div><div class="modal-body">
<p>"Phụ trách hành chính nhân sự tại công ty, hỗ trợ tổng giám đốc, xây dựng môi trường làm việc hiệu quả . Liên lạc với đối tác,  phụ trách tuyển dụng, đào tạo, quảng cáo, cập nhật thông tin, tổ chức
sự kiện.Hiện tại chưa có chỉ tiêu tuyển dụng."</p>
<img src="/assets/HR-Team.jpg">


</ul>
</div><div class="modal-footer"><a class="btn btn-alt btn-primary" style="background-color:#999">Hiện tại không tuyển dụng.</a></div></div>
<div class="modal hide fade job-modal" id="engineer-qa"><div class="modal-header"><button class="close" data-dismiss="modal">×</button><h3>QA</h3></div><div class="modal-body"><p>Mục tiêu của Team là xây dựng các Game và App trên các nền tảng iOS và Android, sử dụng các engine game như Unity3D, Cocos2d-X cũng như Native. Bạn chỉ cần biết lập trình và có yêu thích với Smartphone là đủ, tuy nhiên nếu bạn biết chém chế và kích đời trước phút 11 lại là một lợi thế.</p>
<img src="/assets/QA-Team.jpg">
<h5>Mô tả công việc</h5>
<ul>
<li>Đọc hiểu specs bằng tiếng Nhật</li>
<li>Viết test case bằng tiếng Nhật</li>
<li>Thực hiện test theo test cases bằng tiếng Nhật</li>
<li>Lập kế hoạch công việc</li>
<li>Quản lý công việc</li>
<li>Viết báo cáo công việc hàng ngày.Viết báo cáo lỗi</li>
<li>Thực hiện các công việc khác theo sự phân công của cấp trên </li>
<li>Có khả năng lập test plan, test view point, checklist, test report...</li>
</ul>
<h5>Yêu cầu công việc</h5>
    <li>Nam/nữ: Tuổi dưới 28</li> 
    <li>Tốt nghiệp đại học</li> 
    <li>Có trên 1 năm kinh nghiệm trong cùng lĩnh vực</li>
    <li>Biết tiếng Nhật (tối thiểu N3)</li>
    <li>Ham học hỏi, chăm chỉ, chịu khó, sáng tạo </li>
    <li>Có khả năng làm việc theo nhóm, làm việc độc lập</li>
    <li>Tự tin, năng động, hòa đồng</li>
<h5>Chế độ đãi ngộ</h5> 
    <li>Được tham gia vào các dự án phần mềm với các đối tác hàng đầu Nhật Bản</li>
    <li>Được làm việc trong môi trường năng động, chuyên nghiệp.</li> 
    <li>Có nhiều cơ hội trở thành key person của công ty. Được hưởng bảo hiểm xã hội, bảo hiểm y tế theo chế độ nhà nước ban hành.</li>
    <li>Trợ cấp ăn trưa, lương tháng 13, thưởng theo kết quả dự án, đi du lịch hàng năm.</li>
    <li>Thực hiện review kết quả công việc và xét tăng lương 6 tháng một lần.</li>
    <li>Tuần làm việc 5 ngày, thứ 7 nghỉ cách tuần. Chủ nhật và các ngày nghỉ lễ theo quy định của nhà nước.</li>
<h5>Lương & hợp đồng làm việc:</h5>
    <li>Thử việc 2 tháng, lương thỏa thuận</li>
    <li>Sau thử việc, ký hợp đồng chính thức, lương thỏa thuận theo kết quả thử việc</li>
    <li>Mức lương: <strong>US $500 – US $1200</strong></li>
<h5>Chi tiết khác :</h5>
    <li>Yêu cầu ghi rõ vị trí tuyển dụng:Japanese Communicator </li>
    <li>Trong CV yêu cầu ghi rõ về kinh nghiệm làm việc và quá trình học tập của bản thân bằng tiếng Nhật</li>
</ul>
</div><div class="modal-footer"><a class="btn btn-alt btn-primary" style="background-color:#999">Hiện tại không tuyển dụng.</a></div></div>
<!-- COMTER -->
<div class="modal hide fade job-modal" id="engineer-comter"><div class="modal-header"><button class="close" data-dismiss="modal">×</button><h3>Technical Comter</h3></div><div class="modal-body">
<p>Sử dụng ngôn ngữ Java với các framework Apache Wicket, Seasar2 và công cụ tự động build project Maven để xây dựng hệ thống website. Ngoài ra các member trong Team tích cực tìm hiểu những tính năng mới của Java 8 để ứng dụng vào trong các project.</p>
<h5>Mô tả công việc</h5>
<ul>
<li>Comtor giữa đội phát triển ở Việt Nam với khách hàng Nhật </li>
<li>Phiên dịch từ tiếng Nhât – Việt và Việt-Nhật cho đội dự án Việt Nam và khách hàng Nhật. Phiên dịch trong các buổi meeting dự án, đảm bảo thông tin dự án được truyền đạt chính xác kịp thời tới 2 phía khách hàng và đội dự án </li>
<li>Dịch tài liệu dự án từ tiếng Nhật sang Việt và ngược lại</li>
<li>Phụ trách các vấn đề teambuilding, tạo được không khí thân thiện giữa đội dự án với khách hàng</li>
<li>Loại hình dự án tham gia: Các hệ thống web-application( sử dụng ngôn ngữ Ruby, PHP, Java, ASP.NET. Các game, ứng dụng trên nền smartphone ( iOS, Android, Unity). </li>
</ul>
<h5>Yêu cầu công việc</h5>
    <li>Tiếng Nhật tương đương N2 trở lên.</li> 
    <li>Có kinh nghiệm 1 năm trở lên ở vị trí tương ứng.</li> 
    <li>Ưu tiên những ứng viên đã có kinh nghiệm làm việc hoặc hoặc tập tại Nhật Bản.</li>
    <li>Có khả năng quản lý sắp xếp thông tin, tài liệu tốt.</li>
    <li>Chịu trách nhiệm cao nhất trong việc quản lý thông tin, tài liệu từ phía khách hàng.Có khả năng đưa ra được những ý kiến, góp ý với Manager cũng như khách hàng để cải thiện communication trong toàn bộ dự án, tăng hiệu suất của dự án.</li>
<h5>Chế độ đãi ngộ</h5> 
    <li>Được tham gia vào các dự án phần mềm với các đối tác hàng đầu Nhật Bản</li>
    <li>Được làm việc trong môi trường năng động, chuyên nghiệp.</li> 
    <li>Có nhiều cơ hội trở thành key person của công ty. Được hưởng bảo hiểm xã hội, bảo hiểm y tế theo chế độ nhà nước ban hành.</li>
    <li>Trợ cấp ăn trưa, lương tháng 13, thưởng theo kết quả dự án, đi du lịch hàng năm.</li>
    <li>Thực hiện review kết quả công việc và xét tăng lương 6 tháng một lần.</li>
    <li>Tuần làm việc 5 ngày, thứ 7 nghỉ cách tuần. Chủ nhật và các ngày nghỉ lễ theo quy định của nhà nước.</li>
<h5>Lương & hợp đồng làm việc:</h5>
    <li>Thử việc 2 tháng, lương thỏa thuận</li>
    <li>Sau thử việc, ký hợp đồng chính thức, lương thỏa thuận theo kết quả thử việc</li>
    <li>Mức lương: <strong>US $500 – US $1200</strong></li>
<h5>Chi tiết khác :</h5>
    <li>Yêu cầu ghi rõ vị trí tuyển dụng: Japanese Communicator </li>
    <li>Trong CV yêu cầu ghi rõ về kinh nghiệm làm việc và quá trình học tập của bản thân bằng tiếng Nhật</li>
</ul>
</div><div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path %>">Apply Now</a></div></div>
<!-- BSE -->
<div class="modal hide fade job-modal" id="engineer-bse"><div class="modal-header"><button class="close" data-dismiss="modal">×</button><h3>Bridge SE </h3></div><div class="modal-body">
<p>Sử dụng ngôn ngữ Java với các framework Apache Wicket, Seasar2 và công cụ tự động build project Maven để xây dựng hệ thống website. Ngoài ra các member trong Team tích cực tìm hiểu những tính năng mới của Java 8 để ứng dụng vào trong các project.</p>
<img src="/assets/Engineer-Team.jpg">
<h5>Mô tả công việc</h5>
    <li>Kỹ sư cầu nối giữa đội phát triển ở Việt Nam với khách hàng Nhật</li>
    <li>Trao đổi trực tiếp với khách hàng qua email, skype (or chatwork) để điều chỉnh thống nhất yêu cầu</li>
    <li>Quản lý tiến độ dự án, báo cáo công việc định kỳ với khách hàng và ban giám đốc</li>
    <li>Loại hình dự án: Các hệ thống web-application( sử dụng ngôn ngữ Ruby, PHP, Java, ASP.NET. Các game ứng dụng trên nền smartphone ( iOS, Android, Unity)</li>
<h5>Yêu cầu công việc</h5>
<ul>
    <li>Tốt nghiệp đại học chính quy chuyên ngành công nghệ thông tin</li>
    <li>Tiếng Nhật tương đương N2 trở lên</li>
    <li>Có kinh nghiệm 1 năm trở lên ở vị trí tương ứng. Ưu tiên những ứng viên đã có kinh nghiệm làm việc hoặc hoặc tập tại Nhật Bản</li>
    <li>iểu biết về lập trình hướng đối tượng</li>
    <li>Thành thạo và có kinh nghiệm sử dụng ít nhất một trong các ngôn ngữ Ruby, PHP, Java, ASP.NET, Objective-C, Android SDK, Unity</li>
    <li>Có ý thức trách nhiêm cao , có tính kỷ luật và cẩn thận, có tinh thần làm việc teamwork</li>
    <li>Có khả năng leadership, tổ chức sắp xếp công việc một cách hiệu quả</li>
<h5>Chế độ đãi ngộ</h5>
    <li>Được tham gia vào các dự án phần mềm với các đối tác hàng đầu Nhật Bản</li>
    <li>Được làm việc trong môi trường năng động, chuyên nghiệp.Có nhiều cơ hội trở thành key person của công ty, tiếp cận và đào tạo theo mô hình phát triển dự án Agile, Scrum</li>
    <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế theo chế độ nhà nước ban hành, trợ cấp ăn trưa, lương tháng 13, thưởng theo kết quả dự án, đi du lịch hàng năm.Thực hiện review kết quả công việc và xét tăng lương 6 tháng một lần.Tuần làm việc 5 ngày, thứ 7 nghỉ cách tuần. Chủ nhật và các ngày nghỉ lễ theo quy định của nhà nước</li>
<h5>Lương & hợp đồng làm việc:</h5>
    <li>Thử việc 2 tháng, lương thỏa thuận</li>
    <li>Sau thử việc, ký hợp đồng chính thức, lương thỏa thuận theo kết quả thử việc</li>
    <li>Mức lương: <strong>US $800 – US $1500</strong></li>
<h5>Chi tiết khác :</h5>
    <li>Yêu cầu ghi rõ vị trí tuyển dụng: Bridge SE </li>
    <li>Trong CV yêu cầu ghi rõ về kinh nghiệm làm việc và quá trình học tập của bản thân bằng tiếng Nhật</li>
    <li>Ứng viên phải làm một bài kiểm tra khi đến phỏng vấn </li>
</ul>
</div><div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path %>">Apply Now</a></div></div>
<!-- NEW DEVELOPER -->
<div class="modal hide fade job-modal" id="engineer-intership"><div class="modal-header"><button class="close" data-dismiss="modal">×</button><h3>New Developer</h3></div><div class="modal-body">
<p>Mới tốt nghiệp, không cần kinh nghiệm.</p>
<h5>Mô tả công việc</h5>
    <li>Không cần kinh nghiệm</li>
  <li>Làm việc trong các dự án của khách hàng Nhật</li>
  <li>Phát triển các ứng dụng cho smartphone, Game, Web</li>
  <li>Tham gia một phần hoặc toàn bộ vào quy trình phát triển phần mềm</li>
  <li>Report to Project Leader</li>
<h5>Yêu cầu công việc</h5>
<ul>
    <li>Hiểu cơ bản về Web, ứng dụng Smartphone</li>
    <li>Biết sử dụng một trong các ngôn ngữ lập trình như: Java, .Net, PHP, Ruby, Android, IOS, Unity...</li>
    <li>Có khả năng tiếp thu nhanh về công nghệ mới.</li>
    <li>Nhiệt tình, chăn chỉ, năng động</li>
    <li>Có khả năng đọc hiểu và viết các tài liệu tiếng Anh</li>
    <li>Có khả năng làm việc độc lập cũng như làm việc nhóm.k</li>
    <li>Quan tâm tới phát triển phần mềm</li>
<h5>Chế độ đãi ngộ</h5>
    <li>Được tham gia vào các dự án phần mềm với các đối tác hàng đầu Nhật Bản</li>
    <li>Được làm việc trong môi trường năng động, chuyên nghiệp.Có nhiều cơ hội trở thành key person của công ty.</li>
    <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế theo chế độ nhà nước ban hành, trợ cấp ăn trưa, lương tháng 13, thưởng theo kết quả dự án, đi du lịch hàng năm.Thực hiện review kết quả công việc và xét tăng lương 6 tháng một lần.Tuần làm việc 5 ngày, thứ 7 nghỉ cách tuần. Chủ nhật và các ngày nghỉ lễ theo quy định của nhà nước</li>
<h5>Lương & hợp đồng làm việc:</h5>
    <li>Thử việc 2 tháng, lương thỏa thuận</li>
    <li>Sau thử việc, ký hợp đồng chính thức, lương thỏa thuận theo kết quả thử việc</li>
    <li>Mức lương: <strong>Lương thỏa thuận</strong></li>
<h5>Chi tiết khác :</h5>
    <li>Yêu cầu ghi rõ vị trí tuyển dụng: New Developer </li>
    <li>Trong CV yêu cầu ghi rõ về kinh nghiệm làm việc và quá trình học tập của bản thân bằng tiếng Anh</li>
    <li>Ứng viên phải làm một bài kiểm tra khi đến phỏng vấn </li>
</ul>
</div><div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path %>">Apply Now</a></div></div>
<!-- PHP -->
<div class="modal hide fade job-modal" id="engineer-php"><div class="modal-header"><button class="close" data-dismiss="modal">×</button><h3>PHP Developer</h3></div><div class="modal-body">
<p>"Sử dụng ngôn ngữ PHP với các framework Cake PHP, Yii, Phalcon, Laravel xây dựng các hệ thống websites và social games.
Các thành viên trong team luôn tìm hiểu và nâng cao năng lực bản thân để có thể tạo ra các sản phẩm tốt nhất có thể.
Mục tiêu là khi nhắc đến PHP của Việt Nam, mọi người sẽ nghĩ ngay đến Framgia PHP Team."</p>
<img src="/assets/Team-PHP.jpg">
<h5>Mô tả công việc</h5>
    <li>Tham gia dự án với các khách hàng Nhật</li>
    <li>Phát triển các ứng dụng web application sử dụng ngôn ngữ PHP</li>
    <li>Báo cáo tiến độ và tình trạnh công việc trực tiếp tới quản lý dự án </li>
<h5>Yêu cầu công việc</h5>
<ul>
    <li>Tốt nghiệp đại học chính quy chuyên ngành công nghệ thông tin.Có tư duy logic tốt, hiểu biết sâu về data structrures và algorithm. Hiểu biết sâu về lập trình hướng đối tượng OOP.</li>
    <li>Có trên 2 năm kinh nghiệm lập trình web sử dụng PHP. Thành thạo lập trình client side ( html, css, javascript, jquery). Ưu tiên những ứng viên có kinh nghiêm ở vị trí leader.</li>
    <li>Tiếng Anh đọc viết thành thạo, có khả năng đọc hiểu và tra cứu tài liệu kỹ thuật bằng tiếng Anh, biết tiếng Nhật là một lợi thế.</li>
    <li>Cẩn thận, chu đáo nhằm mang lại sản phẩm chất lượng cao. Có khả năng tự sắp xếp công việc, đánh giá và rút kinh nghiệm để phát triển bản thân và ứng dụng. Có tinh thần làm việc teamwork, có trách nhiệm cao trong công việc, sẳn sàng thu xếp thời gian để hoàn thành công việc theo yêu cầu dự án.</li>
<h5>Chế độ đãi ngộ</h5>
    <li>Được tham gia vào các dự án phần mềm với các đối tác hàng đầu Nhật Bản</li>
    <li>Được làm việc trong môi trường năng động, chuyên nghiệp.Có nhiều cơ hội trở thành key person của công ty, tiếp cận và đào tạo theo mô hình phát triển dự án Agile, Scrum</li>
    <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế theo chế độ nhà nước ban hành, trợ cấp ăn trưa, lương tháng 13, thưởng theo kết quả dự án, đi du lịch hàng năm.Thực hiện review kết quả công việc và xét tăng lương 6 tháng một lần.</li>
    <li>Tuần làm việc 5 ngày, thứ 7 nghỉ cách tuần. Chủ nhật và các ngày nghỉ lễ theo quy định của nhà nước</li>
<h5>Lương & hợp đồng làm việc:</h5>
    <li>Thử việc 2 tháng, lương thỏa thuận</li>
    <li>Sau thử việc, ký hợp đồng chính thức, lương thỏa thuận theo kết quả thử việc</li>
    <li>Mức lương: <strong>US $500 – US $1200</strong></li>
<h5>Chi tiết khác :</h5>
    <li>Yêu cầu ghi rõ vị trí tuyển dụng: PHP Developer </li>
    <li>Trong CV yêu cầu ghi rõ về kinh nghiệm làm việc và quá trình học tập của bản thân bằng tiếng Anh</li>
    <li>Yêu cầu phải có sản phẩm demo khi phỏng vấn. Gứi kèm sản phẩm khi nộp CV</li>
    <li>Ứng viên phải làm một bài kiểm tra khi đến phỏng vấn </li>
</ul>
</div><div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path %>">Apply Now</a></div></div>
<!-- ANDROID -->
<div class="modal hide fade job-modal" id="engineer-android"><div class="modal-header"><button class="close" data-dismiss="modal">×</button><h3> Android Developer</h3></div><div class="modal-body">
<p>Mục tiêu của Team là xây dựng các Game và App trên các nền tảng iOS và Android, sử dụng các engine game như Unity3D, Cocos2d-X cũng như Native. Bạn chỉ cần biết lập trình và có yêu thích với Smartphone là đủ, tuy nhiên nếu bạn biết chém chế và kích đời trước phút 11 lại là một lợi thế.</p>
<img src="/assets/Team-smartphone.jpg">
<h5>Mô tả công việc</h5>
    <li>Phát triển các ứng dụng trên Android</li>
    <li>Báo cáo tiến độ và tình trạnh công việc trực tiếp tới quản lý dự án </li>
<h5>Yêu cầu công việc</h5>
<ul>
    <li>Tốt nghiệp đại học chính quy chuyên ngành công nghệ thông tin.Có tư duy logic tốt, hiểu biết sâu về data structrures và algorithm. Hiểu biết sâu về lập trình hướng đối tượng OOP.</li>
    <li>Kinh nghiệm phát triển ứng dụng Android ít nhất 2 năm.  Ưu tiên những ứng viên có kinh nghiêm ở vị trí leader.</li>
    <li>Tiếng Anh đọc viết thành thạo, có khả năng đọc hiểu và tra cứu tài liệu kỹ thuật bằng tiếng Anh, biết tiếng Nhật là một lợi thế.</li>
    <li>Có tính kỷ luật và cẩn thận, chu đáo nhằm mang lại sản phẩm chất lượng cao.Có khả năng tự sắp xếp công việc, đánh giá và rút kinh nghiệm để phát triển bản thân và ứng dụng. Có tinh thần làm việc teamwork, đồng thời cũng có khả năng tự xử lý trong những trường hợp đặc biệt</li>
<h5>Chế độ đãi ngộ</h5>
    <li>Được tham gia vào các dự án phần mềm với các đối tác hàng đầu Nhật Bản</li>
    <li>Được làm việc trong môi trường năng động, chuyên nghiệp.Có nhiều cơ hội trở thành key person của công ty, tiếp cận và đào tạo theo mô hình phát triển dự án Agile, Scrum</li>
    <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế theo chế độ nhà nước ban hành, trợ cấp ăn trưa, lương tháng 13, thưởng theo kết quả dự án, đi du lịch hàng năm.</li>
    <li>Thực hiện review kết quả công việc và xét tăng lương 6 tháng một lần.</li>
    <li>Tuần làm việc 5 ngày, thứ 7 nghỉ cách tuần. Chủ nhật và các ngày nghỉ lễ theo quy định của nhà nước</li>
<h5>Lương & hợp đồng làm việc:</h5>
    <li>Thử việc 2 tháng, lương thỏa thuận</li>
    <li>Sau thử việc, ký hợp đồng chính thức, lương thỏa thuận theo kết quả thử việc</li>
    <li>Mức lương: <strong>US $300 – US $700</strong></li>
<h5>Chi tiết khác :</h5>
    <li>Yêu cầu ghi rõ vị trí tuyển dụng: Android Developer </li>
    <li>Trong CV yêu cầu ghi rõ về kinh nghiệm làm việc và quá trình học tập của bản thân bằng tiếng Anh</li>
    <li>Ghi rõ link sản phẩm trên Google Play (nếu có), nếu làm sản phẩm mà chưa up lên thì yêu cầu demo khi phỏng vấn.</li>
    <li>Ứng viên phải làm một bài kiểm tra khi đến phỏng vấn </li>
</ul>
</div><div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path %>">Apply Now</a></div></div>
<!-- iOS -->
<div class="modal hide fade job-modal" id="engineer-ios"><div class="modal-header"><button class="close" data-dismiss="modal">×</button><h3> iOS Developer</h3></div><div class="modal-body">
<p>Mục tiêu của Team là xây dựng các Game và App trên các nền tảng iOS và Android, sử dụng các engine game như Unity3D, Cocos2d-X cũng như Native. Bạn chỉ cần biết lập trình và có yêu thích với Smartphone là đủ, tuy nhiên nếu bạn biết chém chế và kích đời trước phút 11 lại là một lợi thế.</p>
<img src="/assets/Team-smartphone.jpg">
<h5>Mô tả công việc</h5>
    <li>Phát triển các ứng dụng trên iOs</li>
    <li>Báo cáo tiến độ và tình trạnh công việc trực tiếp tới quản lý dự án </li>
<h5>Yêu cầu công việc</h5>
<ul>
    <li>Tốt nghiệp đại học chính quy chuyên ngành công nghệ thông tin.Có tư duy logic tốt, hiểu biết sâu về data structrures và algorithm. Hiểu biết sâu về lập trình hướng đối tượng OOP.</li>
    <li>Sử dụng thành thạo , hiểu sâu về Objective-C.</li>
    <li>Kinh nghiệm phát triển ứng dụng iOS ít nhất 1 năm hoặc ít nhất phải làm trong 3 dự án.  Ưu tiên những ứng viên có kinh nghiêm ở vị trí leader.</li>
    <li>Tiếng Anh đọc viết thành thạo, có khả năng đọc hiểu và tra cứu tài liệu kỹ thuật bằng tiếng Anh, biết tiếng Nhật là một lợi thế.</li>
    <li>Có tính kỷ luật và cẩn thận, chu đáo nhằm mang lại sản phẩm chất lượng cao.Có khả năng tự sắp xếp công việc, đánh giá và rút kinh nghiệm để phát triển bản thân và ứng dụng. Có tinh thần làm việc teamwork, đồng thời cũng có khả năng tự xử lý trong những trường hợp đặc biệt</li>
<h5>Chế độ đãi ngộ</h5>
    <li>Được tham gia vào các dự án phần mềm với các đối tác hàng đầu Nhật Bản</li>
    <li>Được làm việc trong môi trường năng động, chuyên nghiệp.Có nhiều cơ hội trở thành key person của công ty, tiếp cận và đào tạo theo mô hình phát triển dự án Agile, Scrum</li>
    <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế theo chế độ nhà nước ban hành, trợ cấp ăn trưa, lương tháng 13, thưởng theo kết quả dự án, đi du lịch hàng năm.</li>
    <li>Thực hiện review kết quả công việc và xét tăng lương 6 tháng một lần.</li>
    <li>Tuần làm việc 5 ngày, thứ 7 nghỉ cách tuần. Chủ nhật và các ngày nghỉ lễ theo quy định của nhà nước</li>
<h5>Lương & hợp đồng làm việc:</h5>
    <li>Thử việc 2 tháng, lương thỏa thuận</li>
    <li>Sau thử việc, ký hợp đồng chính thức, lương thỏa thuận theo kết quả thử việc</li>
    <li>Mức lương: <strong>US $500 – US $1200</strong></li>
<h5>Chi tiết khác :</h5>
    <li>Yêu cầu ghi rõ vị trí tuyển dụng:  iOS Developer</li>
    <li>Trong CV yêu cầu ghi rõ về kinh nghiệm làm việc và quá trình học tập của bản thân bằng tiếng Anh</li>
    <li>Ghi rõ link sản phẩm trên iTunes (nếu có), nếu làm sản phẩm mà chưa up lên thì yêu cầu demo khi phỏng vấn. Ghi rõ vị trí của mình trong dự án đó. </li>
    <li>Ứng viên phải làm một bài kiểm tra khi đến phỏng vấn </li>
</ul>
</div><div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path %>">Apply Now</a></div></div>
<!-- UNITY -->
<div class="modal hide fade job-modal" id="engineer-unity"><div class="modal-header"><button class="close" data-dismiss="modal">×</button><h3>Unity Engineer</h3></div><div class="modal-body">
<p>Mục tiêu của Team là xây dựng các Game và App trên các nền tảng iOS và Android, sử dụng các engine game như Unity3D, Cocos2d-X cũng như Native. Bạn chỉ cần biết lập trình và có yêu thích với Smartphone là đủ, tuy nhiên nếu bạn biết chém chế và kích đời trước phút 11 lại là một lợi thế.</p>
<img src="/assets/Team-smartphone.jpg">
<h5>Mô tả công việc</h5>
    <li>Tham gia vào tất cả các công đoạn phát triển game cho ứng dụng dành cho thị trường Nhật Bản có sử dụng Unity. </li>
    <li>Báo cáo tiến độ và tình trạnh công việc trực tiếp tới quản lý dự án </li>
<h5>Yêu cầu công việc</h5>
<ul>
    <li>Có ít nhất 01 năm kinh nghiệm sử dụng Unity thực tiễn.</li>
    <li>Yêu thích game và sáng tạo.</li>
    <li>Đưa ra được sản phẩm bản thân đã tạo ra có sử dụng Unity</li>
<h5>Chế độ đãi ngộ</h5>
    <li>Tham gia vào các giai đoạn lên kế hoạch và phát triển ra những game thu hút người dùng.</li>
    <li>Môi trường làm việc tạo cơ hội để bạn đưa ra những đề án đối với những kỹ thuật mới mà bạn yêu thích.</li>
    <li>Được làm việc trong môi trường năng động, chuyên nghiệp.</li>
    <li>Có nhiều cơ hội trở thành key person của công ty. </li>
    <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế theo chế độ nhà nước ban hành, trợ cấp ăn trưa, lương tháng 13, thưởng theo kết quả dự án, đi du lịch hàng năm.</li>
    <li>Thực hiện review kết quả công việc và xét tăng lương 6 tháng một lần.</li>
    <li>Tuần làm việc 5 ngày, thứ 7 nghỉ cách tuần. Chủ nhật và các ngày nghỉ lễ theo quy định của nhà nước</li>
<h5>Lương & hợp đồng làm việc:</h5>
    <li>Thử việc 2 tháng, lương thỏa thuận</li>
    <li>Sau thử việc, ký hợp đồng chính thức, lương thỏa thuận theo kết quả thử việc</li>
    <li>Mức lương: <strong>US $500 – US $1200</strong></li>
<h5>Chi tiết khác :</h5>
    <li>Yêu cầu ghi rõ vị trí tuyển dụng: Unity Engineer</li>
    <li>Trong CV yêu cầu ghi rõ về kinh nghiệm làm việc và quá trình học tập của bản thân bằng tiếng Anh</li>
    <li>Ghi rõ link sản phẩm trên iTunes (nếu có), nếu làm sản phẩm mà chưa up lên thì yêu cầu demo khi phỏng vấn. Ghi rõ vị trí của mình trong dự án đó. </li>
    <li>Ứng viên phải làm một bài kiểm tra khi đến phỏng vấn </li>
</ul>
</div><div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path %>">Apply Now</a></div></div>
<div class="modal hide fade job-modal" id="engineer-rails"><div class="modal-header"><button class="close" data-dismiss="modal">×</button><h3>Ruby on Rails Developer</h3></div><div class="modal-body">
<p>Sử dụng framework rất hay Ruby on Rail (ROR) để xây dựng dễ dàng và nhanh chóng các webiste. Chỉ cần các bạn có kiến thức cơ bản về lập trình cũng như mô hình MVC là có thể dễ dàng tiếp cận với ngôn ngữ mạnh mẽ này. Các thành viên team đều rất trẻ và đam mê với công việc. Welcome to Framgia</p>
<img src="/assets/Team-Rails.jpg">
<h5>Mô tả công việc</h5>
    <li>Tham gia vào tất cả các công đoạn phát triển game cho ứng dụng dành cho thị trường Nhật Bản có sử dụng Unity. </li>
    <li>Báo cáo tiến độ và tình trạnh công việc trực tiếp tới quản lý dự án </li>
<h5>Yêu cầu công việc</h5>
<ul>
    <li>Tốt nghiệp đại học chính quy chuyên ngành công nghệ thông tin</li>
    <li>Hiểu biết về lập trình hướng đối tượng OOP, thành thạo một trong những ngôn ngữ C/C++, Java, PHP, Ruby</li>
    <li>Ưu tiên những ứng viên có kinh nghiệm lập trình web sử dụng PHP, Java hoặc Ruby on Rails. Có kiến thức về lập trình client side ( html, css, javascript, jquery).</li>
    <li>Có tính kỷ luật và cẩn thận, chu đáo nhằm mang lại sản phẩm chất lượng cao</li>
    <li>Có khả năng tự sắp xếp công việc, đánh giá và rút kinh nghiệm để phát triển bản thân và ứng dụng</li>
    <li>Có tinh thần làm việc teamwork, đồng thời cũng có khả năng tự xử lý trong những trường hợp đặc biệt</li>
    <li>Có trách nhiệm cao trong công việc, sẳn sàng thu xếp thời gian để hoàn thành công việc theo yêu cầu dự án.</li>
<h5>Chế độ đãi ngộ</h5>
    <li>Được tham gia vào các dự án phần mềm với các đối tác hàng đầu Nhật Bản.</li>
    <li>Được làm việc trong môi trường năng động, chuyên nghiệp.</li>
    <li>Có nhiều cơ hội trở thành key person của công ty. </li>
    <li>Được tiếp cận và đào tạo theo mô hình phát triển dự án Agile, Scrum</li>
    <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế theo chế độ nhà nước ban hành, trợ cấp ăn trưa, lương tháng 13, thưởng theo kết quả dự án, đi du lịch hàng năm.</li>
    <li>Thực hiện review kết quả công việc và xét tăng lương 6 tháng một lần.</li>
    <li>Tuần làm việc 5 ngày, thứ 7 nghỉ cách tuần. Chủ nhật và các ngày nghỉ lễ theo quy định của nhà nước</li>
<h5>Lương & hợp đồng làm việc:</h5>
    <li>Thử việc 2 tháng, lương thỏa thuận</li>
    <li>Sau thử việc, ký hợp đồng chính thức, lương thỏa thuận theo kết quả thử việc</li>
<h5>Chi tiết khác :</h5>
    <li>Yêu cầu ghi rõ vị trí tuyển dụng: Ruby Developer</li>
    <li>Trong CV yêu cầu ghi rõ về kinh nghiệm làm việc và quá trình học tập của bản thân bằng tiếng Anh</li>
    <li>Ứng viên phải làm một bài kiểm tra khi đến phỏng vấn </li>
</ul>
</div><div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path %>">Apply Now</a></div></div>
<div class="modal hide fade job-modal" id="creative-web-designer"><div class="modal-header"><button class="close" data-dismiss="modal">×</button><h3>Web Designer</h3></div><div class="modal-body">
<p>Thiết kế mẫu giao diện website theo các chủ đề cụ thể và cho các dự án dịch vụ<br>
Thiết kế giao diện người sử dụng (user interface) cho các ứng dụng web<br>
Phát triển template cho Joomla! và theme cho Wordpress<br>
Phát triển code xHTML/CSS cho extension Joomla! và plugin cho Wordpress<br>
Chuyển đổi các file graphic (.psd, .png) sang code xHTML/CSS</p>
</ul>
</div><div class="modal-footer"><a class="btn btn-alt btn-primary" style="background-color:#999">Hiện tại không tuyển dụng.</a></div></div>
<div class="modal hide fade job-modal" id="creative-game-designer"><div class="modal-header"><button class="close" data-dismiss="modal">×</button><h3>Game Mobile Artist</h3></div><div class="modal-body">
<p>Làm việc trực tiếp với Game Designer và Project Leader để hiện thực hóa ý tưởng gameplay bằng hình ảnh.<br>
Tạo hình nhân vật, môi trường, màn chơi, đối tượng, hiệu ứng… với hình tĩnh lẫn hoạt cảnh.<br>
Thiết kế Giao diện game (UI) – bảo đảm cả về cảm quan lẫn sự tiện dụng.<br>
Kết xuất và giao Graphic assets cho đội lập trình.<br>
Phối hợp chặt chẽ với các nhóm khác đặc biệt là Game Designer và lập trình.</p>

</ul>
</div><div class="modal-footer"><a class="btn btn-alt btn-primary" style="background-color:#999">Hiện tại không tuyển dụng.</a></div></div>
<div class="modal hide fade job-modal" id="creative-graphic-designer"><div class="modal-header"><button class="close" data-dismiss="modal">×</button><h3>UI/UX Designer</h3></div><div class="modal-body">
<p>Phụ trách phần UX của các sản phẩm công ty.<br>
Thiết kế wireframes để đội Dev thực hiện và phối hợp với họ trong suốt quá trình.<br>
Thực hiện usability testing để liện tục nâng cấp sản phẩm.</p>

</ul>
</div><div class="modal-footer"><a class="btn btn-alt btn-primary" style="background-color:#999">Hiện tại không tuyển dụng.</a></div></div>
<div id="positions-box">  
</div>
<!-- /POSITIONS -->
<%= javascript_include_tag "jquery.royalslider.min", "data-turbolinks-track" => true %>
<script>

$(".royalSlider").royalSlider({
            // options go here
            // as an example, enable keyboard arrows nav
            keyboardNavEnabled: true,
            controlNavigation: "bullets",
            arrowsNav: false,
            loop: true,
            autoPlay: {
            // autoplay options go gere
            enabled: false,
            pauseOnHover: true
      }
        });

var slider = $(".royalSlider").data('royalSlider');
$("#slider-to-next").click(function(){
slider.next();
});

$("#slider-to-back").click(function(){
slider.prev();
});
</script>


<script type="text/javascript">
// -------------------------------------------------
// INITIALIZE
// -------------------------------------------------
$(function(){
    $("#positions-box").html("");

});

// -------------------------------------------------
// LOAD XML
// -------------------------------------------------

function xmlLoad(){
    $.ajax({
        url:'../jobs.xml',
        type:'get',
        dataType:'xml',
        timeout:1000,
        success:parse_xml
    });
}
// -------------------------------------------------
// GET XML DATA
// -------------------------------------------------

function parse_xml(xml,status){
    if(status!='success')return;
    $(xml).find('item').each(disp);
}
// -------------------------------------------------
// GENERATE HTML CONTENT
// -------------------------------------------------
function disp(){
    //各要素を変数に格納
    var $jobid = $(this).find('jobid').text();
    var $title = $(this).find('title').text();
    var $overview = $(this).find('overview').text();
    var $require = $(this).find('require').text();
    var $desired = $(this).find('desired').text();
    var $etc = $(this).find('etc').text();
    var $label = $(this).find('label').text();
    var $category = $(this).find('category').text();
    var $jobCategoryType = $(this).find('jobtype').text();
    var $content = $(this).find('content').text();
    var $url = $(this).find('url').text();
    var $target = $(this).find('target').text();
    var contentBlock = $("<div class='modal hide fade job-modal' id='"+$jobid+"'><div class='modal-header'><button class='close' data-dismiss='modal'>×</button><h3>"+$title+"</h3></div><div class='modal-body'><p>"+$overview+"</p>"+$content+"<h5>必須の経験・能力</h5><ul>"+$require+"</ul><h5>望ましい経験/能力</h5><ul>"+$desired+"</ul>"+$etc+"</div><div class='modal-footer'><a class='btn btn-alt btn-primary' href='jobs/new'>Apply Now</a></div>");
    contentBlock.appendTo('#positions-box');
}
//COMMAND
$(function(){
    xmlLoad();
});

$(function(){
     $(".scroll").click(function(){
          var Hash = $(this.hash);
          var HashOffset = $(Hash).offset().top;
          $("html,body").animate({
               scrollTop: HashOffset -60
          }, 500);
          return false;
     });
});


$(".team-cols").hover(
  function () {
  var name = $(this).find(".before").attr("data-team-name");
  var job = $(this).find(".before").attr("data-team-job");
  var country = $(this).find(".before").attr("data-team-country");
  var lastName = $(this).find(".before").attr("alt");
  var contentBox = $(this).find(".hover-content");
  contentBox.append("<h3>"+name+"</h2><small>"+job+"</small><hr /><small>"+country+"</small>");
  $(this).addClass("active")
  },
  function () {
  var contentBox = $(this).find(".hover-content");
  contentBox.html("");
  $(this).removeClass("active")
  }
);

$("#welcome").hover(
  function () {
  $(".team-cols").addClass("welcome-active");
  },
  function () {
  $(".team-cols").removeClass("welcome-active");
  }
);

$(".jobs-modal-toggle").click(function(){
  var jobName = $(this).attr("href");
  jobName.modal("show");
})

$(window).bind('load',function(){ 
    setTimeout(function(){
  window.scrollBy(0,1);　
　},1);
});

/* $("#header").hide() */
</script>
