<div id="header-image-box" class="jobs jobs-bg-fade">
  <div class="pagination-centered pseudo-table" style="position:relative;">
    <div class="centering-wrap">
      <h2 class="jobs-title"  style="font-family: 'UTM HelveIns'; font-weight:normal; opacity:0.8;"> 
      </h2>
      <div style="width:100%; height:20px;position:absolute; bottom:20px;padding-bottom: 10px;">
    <a  href="#jobs-positions-container" class="btn btn-primary btn-alt btn-large scroll" style="display:inline-block; margin:0px auto;">Gia nhập Framgia<i class="icon-chevron-down icon-white"></i></a>
      </div>
    </div>
  </div>
</div>
<div id="jobs-mission-box" class="jobs-text-fade">
  <p class="pagination-centered jobs-mission-paragraph">
  <div class="pagination-centered">
    <div class="jobs-title-box" style="margin-bottom: 0px;">
      <span style="font-size:18px;">Hình tượng mà Framgia muốn hướng đến :</span> 
      <h2 class="jobs-title">"Tập đoàn IT chuyên nghiệp có trình độ kĩ thuật số một châu Á"</h2>
    </div>
  </div>
  </p>
</div>
<!-- IMAGE -->
<div class="row-fluid jobs-image-col-wrap">
  <div class="span6">
    <div class="jobs-image-box engagement"></div>
  </div>
  <div class="span6">
    <div class="inner pseudo-table">
      <div class="centering-wrap">
        <h2 class="jobs-title">1. Đưa Việt Nam đi lên bằng IT</h2>
        <p class="res-paragraph">
		<span>Việt Nam là quốc gia chú trọng giáo dục và là nơi sản sinh nhiều nhân tài Toán học, Vật lý. Nếu được đào tạo đúng cách bởi đội ngũ kỹ sư IT dày dạn kinh nghiệm, lập trình viên Việt Nam hoàn toàn có thể vươn tới đẳng cấp hàng đầu thế giới. Song song với việc khai thác các lĩnh vực chưa được IT hóa, thế giới đang thiếu hụt đội ngũ lập trình viên có khả năng chủ động suy nghĩ về chất lượng sản phẩm, bổ sung chức năng và giỏi trong việc cải thiện UI/UX. Framgia giúp kỹ sư IT Việt Nam tạo ra sản phẩm với chất lượng Nhật Bản và từng bước nâng cao mức lương vốn đang thấp của lập trình viên Việt Nam.</span>
	      </p>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid jobs-image-col-wrap">
  <div class="table-replace-group">
    <div class="push-bottom">
      <div class="span6">
        <div class="inner pseudo-table">
          <div class="centering-wrap">
            <h2 class="jobs-title">2. Thay đổi phương thức Nhật Bản bằng phương thức Toàn cầu</h2>
            <p class="res-paragraph pagination-left">
		<span>Thông qua các công ty lớn, Nhật Bản phổ biến hình thức thuê ngoài trong phát triển hệ thống IT. Về bản chất đây là công việc hầu như không lệ thuộc vào ngôn ngữ hay địa điểm thực hiện. Mặc dù dồi dào ý tưởng và tài chính, ngành IT Nhật Bản luôn thiếu hụt nhân lực. Bằng cách Kaizen quy trình, tư duy sáng tạo, Framgia xây dựng những đội lập trình viên đa quốc gia, góp phần giải quyết vấn đề đó.</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="push-top">
      <div class="span6">
        <div class="jobs-image-box enjoyment"></div>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid jobs-image-col-wrap">
  <div class="span6">
    <div class="jobs-image-box enpowerment"></div>
  </div>
  <div class="span6">
    <div class="inner pseudo-table">
      <div class="centering-wrap">
        <h2 class="jobs-title">3. Thay đổi thế giới bằng IT</h2>
        <p class="res-paragraph">
		<span>Internet đã khiến yếu tố con người, hàng hóa, tiền bạc vượt qua biên giới mọi quốc gia. Các tập đoàn lớn lựa chọn phát triển chi nhánh tại những nước có thuế suất thấp. Cùng với dòng chảy tự nhiên của thời đại, hình thái lấy các nước phát triển làm trung tâm đang dần suy yếu. Giữa những biến động đó, Framgia góp phần tạo ra hình thái thế giới mới, bình quyền và tốt đẹp hơn.</span>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- CULTURE -->
<div id="jobs-culture-container" style="padding-top: 10px; padding-bottom: 28px;">
  <div class="pagination-centered" style="margin-bottom: 27px;">
    <div class="jobs-title-box">
      <h2 class="jobs-title">Framgia cần những kỹ sư IT như thế nào? </h2>
      <p style="line-height: normal">Kỹ sư IT yêu lập trình, ngày cuối tuần cũng có thể ngồi lập trình hoặc làm app vì sở thích. Kỹ sư IT thích cái mới, sẵn sàng học hỏi và đương đầu với thử thách.</p>
      <p style="line-height: normal">Kỹ sư IT giỏi về cơ cấu, quy trình (quy trình training, quy trình QA, cơ cấu Transparency,...), giỏi chơi đồng đội hơn chơi cá nhân.</p>
      <p style="line-height: normal">Kỹ sư IT khao khát tiến bộ muốn cải tiến mọi thứ, tin rằng mình sẽ trở thành hàng đầu thế giới và sẵn sàng nỗ lực vì mục tiêu.</p>
    </div>
  </div>
  <div class="container wide">
<!--
    <button id="slider-to-back"></button>
    <button id="slider-to-next"></button>
--> 
    <div id="royal-slider-wrap">
      <div class="royalSlider  rsDefaultInv">
        <div class="rsContent">
          <div class="jobs-culture-slider-wrap">
            <div class="slider-image-cols">
            <div class="image-box team-all"></div>
            </div>
            <div class="slider-image-cols text-box">
              <div class="culture-text-box pseudo-table">
                <div class="centering-wrap">
		  <h3><span>Khát vọng</span></h3>
		  <p>Framgia luôn chào đón những lập trình viên tài năng và giàu khát vọng. Không phải ai cũng có thể vươn đến đẳng cấp hàng đầu, cũng như không phải cầu thủ nào cũng có thể gia nhập Barcelona, Real Madrid, trừ những con người sẵn sàng ước mơ.<br> Framgia luôn muốn có được sự cộng tác của những kĩ sư khao khát vượt qua mọi giới hạn, đương đầu với mọi thử thách dù chúng có gian nan đến đâu. Ngoài sự tiến bộ của bản thân, sự hỗ trợ người khác cùng vươn lên, lòng khao khát mọi người cùng tiến bộ được Framgia coi trọng tương đương.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rsContent">
          <div class="jobs-culture-slider-wrap">
            <div class="slider-image-cols">
            <div class="image-box great-tools"></div>
            </div>
            <div class="slider-image-cols text-box">
              <div class="culture-text-box pseudo-table">
                <div class="centering-wrap">
		  <h3><span>Chuyên nghiệp</span></h3>
		  <p>Framgia muốn toàn nhân viên hướng tới sự chuyên nghiệp. Chuyên nghiệp, nghĩa là tạo nên thương hiệu riêng cho bản thân và chịu trách nhiệm với thương hiệu đó. Chuyên nghiệp, nghĩa là giải quyết triệt để, đến những chi tiết nhỏ nhất của mọi vấn đề trong công việc. Người chuyên nghiệp là người có trình độ cao, năng lực cạnh tranh cao, khả năng đáp ứng yêu cầu cao - là người khiến khách hàng hài lòng và khâm phục.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rsContent">
          <div class="jobs-culture-slider-wrap">
            <div class="slider-image-cols">
            <div class="image-box at-home"></div>
            </div>
            <div class="slider-image-cols text-box">
              <div class="culture-text-box pseudo-table">
                <div class="centering-wrap">
		  <h3><span>Đồng đội</span></h3>
		  <p>Thế mạnh của Framgia là tinh thần đồng đội. Sự thành công của tập thể là sự thành công của từng cá nhân và ngược lại. Lòng tin và sự ăn ý là khởi nguồn của sức mạnh tập thể. Framgia hỗ trợ mọi thành viên hoàn thành công việc, phát triển bản thân mà không phân biệt quốc tịch, sắc tộc, tuổi tác. Chúng tôi muốn mình là một gia đình lớn mà ở đó mọi người có thể chia sẻ mọi điều trong cuộc sống, từ niềm vui cho tới nỗi buồn.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rsContent">
          <div class="jobs-culture-slider-wrap">
            <div class="slider-image-cols">
            <div class="image-box your-growth"></div>
            </div>
            <div class="slider-image-cols text-box">
              <div class="culture-text-box pseudo-table">
                <div class="centering-wrap">
		  <h3><span>Sáng tạo</span></h3>
		  <p>Framgia muốn thay đổi thế giới bằng IT. Thế giới rồi sẽ không còn xoay quanh các quốc gia phát triển, các quốc gia đang phát triển đang dần có một chỗ đứng bình đẳng hơn. Giữa dòng chảy của thời đại, chúng ta rất cần những sự đổi mới, đột phá để góp phần tạo ra một thế giới tốt đẹp hơn. Vơi quan điểm đó, Framgia luôn đề cao những thành quả sáng tạo, và tinh thần muốn sáng tạo của mọi thành viên.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /CULTURE -->

<!-- TEAM -->

<div id="jobs-team-container" style="padding-top: 13px; padding-bottom: 28px;">
  <div class="container wide">
    <div class="pagination-centered">
      <div class="jobs-title-box">
        <h2 class="jobs-title">Thành viên Framgia</h2>
        <p>Sự phát triển của bạn là sự phát triển của Framgia.</p>
      </div>
    </div>
    <div class="team-row-group">
    <a href="#jobs-positions-container" class="scroll"><div class="team-cols" id="welcome">
            <div class="inner">
              <div class="plus-you-box pagination-centered vertical-center">
                <div>
                  <h1>
                    <i class="icon-user"></i>
                  </h1>
                  <h4><i class="icon-plus"></i></h4>
                </div>
              </div>
            </div>
      </div></a>    
    <div class="team-cols">
          <div class="inner">
            <img src="<%= image_path 'member/member_fujimoto.jpg' %>" alt="" data-team-name="Kazunari" data-team-job="CEO"  data-team-country="'Framgia luôn đón chờ những kỹ sư sẵn sàng nỗ lực nâng cao trình độ tới làm việc.'" class="before" />
            <img src="<%= image_path 'member/member_fujimoto2.jpg' %>" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="<%= image_path 'member/member_homma.jpg' %>" alt="" data-team-name="Norifumi" data-team-job="CTO"  data-team-country="'Luôn tự tìm ra niềm vui trong việc phát triển hệ thống theo cách riêng.'" class="before" />
            <img src="<%= image_path 'member/member_homma2.jpg' %>" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="<%= image_path 'member/member_kobayashi.jpg' %>" alt="" data-team-name="Taihei" data-team-job="COO"  data-team-country="' Wasshoi Asia, Nào cùng nhau làm thế giới kinh ngạc.'" class="before" />
            <img src="<%= image_path 'member/member_kobayashi2.jpg' %>" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="<%= image_path 'member/member_dung.jpg' %>" alt="" data-team-name="Xuân Dũng" data-team-job="Division 1 Manager"  data-team-country="'Framgia là nơi mọi người vượt qua rào cản văn hóa, từ châu Á cùng nhau chinh phục thế giới.'" class="before"/>
            <img src="<%= image_path 'member/member_dung2.jpg' %>" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="<%= image_path 'member/member_bich.jpg' %>" alt="" data-team-name="Ngọc Bích" data-team-job=" QA Group Leader"  data-team-country="' QA không chỉ là bộ phận đảm bảo chất lượng mà còn chịu trách nhiệm về sự hoàn mĩ của sản phẩm'" class="before"/>
            <img src="<%= image_path 'member/member_bich2.jpg' %>" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="<%= image_path 'member/member_son.jpg' %>" alt="" data-team-name="Nam Sơn" data-team-job="Infra Group Leader"  data-team-country="'Bạn hãy yên tâm làm việc, hệ thống hãy để tôi lo'" class="before" />
            <img src="<%= image_path 'member/member_son2.jpg' %>" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="<%= image_path 'member/member_trong.jpg' %>" alt="" data-team-name="Bá Trọng" data-team-job="Division 2 Group Leader"  data-team-country="'Hãy vào Framgia và phát huy tối đa những lợi thế của mình'" class="before"/>
            <img src="<%= image_path 'member/member_trong2.jpg' %>" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="<%= image_path 'member/member_uocmo.jpg' %>" alt="" data-team-name="Ước Mơ" data-team-job="HR Group Member"  data-team-country="'Hãy coi mọi khó khăn là thử thách và cơ hội để rèn luyện bản thân trở nên tốt hơn'" class="before"/>
            <img src="<%= image_path 'member/member_uocmo2.jpg' %>" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
	    <img src="<%= image_path 'member/minh1.jpg' %>" alt="" data-team-name="Hoàng Minh" data-team-job="BrSE" data-team-country="'Thành công hay không, phụ thuộc vào bạn.'" class="before">
            <img src="<%= image_path 'member/minh2.jpg' %>" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="<%= image_path 'member/member_tuan.jpg' %>" alt="" data-team-name="Ngọc Tuấn" data-team-job="Division 3 Manager"  data-team-country="'Cơ hội và bản lĩnh'" class="before" />
            <img src="<%= image_path 'member/member_tuan2.jpg' %>" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="<%= image_path 'member/member_phuong.jpg' %>" alt="" data-team-name="Hoài Phương" data-team-job="Division 1 Group Leader"  data-team-country="'Sáng tạo và chia sẻ để cùng nhau tạo ra sản phẩm hoàn hảo'" class="before" />
            <img src="<%= image_path 'member/member_phuong2.jpg' %>" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="<%= image_path 'member/member_khanh.jpg' %>" alt="" data-team-name="Duy Khánh" data-team-job="Division 2 Group Leader"  data-team-country="'Có người nói lập trình viên là những người khô khan cứng nhắc. Hãy cùng chúng tôi chứng tỏ điều ngược lại'" class="before"/>
            <img src="<%= image_path 'member/member_khanh2.jpg' %>" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="<%= image_path 'member/member_vu.jpg' %>" alt="" data-team-name="Đình Vũ" data-team-job="Division 1 Group Leader"  data-team-country="'Hãy làm việc với niềm đam mê lớn nhất mỗi ngày'" class="before"/>
            <img src="<%= image_path 'member/member_vu2.jpg' %>" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="<%= image_path 'member/member_tuanchu.jpg' %>" alt="" data-team-name="Anh Tuấn" data-team-job="Education Division Manager"  data-team-country="'Thái độ làm việc tích cực chính là chìa khóa cho thành công của bạn'" class="before"/>
            <img src="<%= image_path 'member/member_tuanchu2.jpg' %>" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="<%= image_path 'member/member_hang.jpg' %>" alt="" data-team-name="Minh Hằng" data-team-job="Programmer"  data-team-country="'Đam mê lập trình - Framgia sẽ là nơi thỏa mãn niềm đam mê của bạn'" class="before"/>
            <img src="<%= image_path 'member/member_hang2.jpg' %>" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
    <div class="team-cols">
          <div class="inner">
            <img src="<%= image_path 'member/member_xuan_son.jpg' %>" alt="" data-team-name="Xuan Son" data-team-job="Division 2 Manager"  data-team-country="'Hỡi anh em Framgia, cùng bước qua Grandline tiến vào Tân thế giới'" class="before"/>
            <img src="<%= image_path 'member/member_xuan_son2.jpg' %>" alt="" class="welcome" />
            <div class="hover-content"></div>
          </div>
    </div>
  </div>


  </div>
</div>
<!-- /TEAM -->
<!-- POSITIONS -->
<div id="jobs-culture-container" style="padding-top: 0px; padding-bottom: 0px;">
  <div class="pagination-centered" style="padding-top: 15px; margin-bottom: 15px">
    <div class="jobs-title-box">
      <h2 style="margin: 0;">Framgia Bukatsu</h2>
    </div>
  </div>
  <div class="container wide">
    <div id="royal-slider-wrap">
      <div class="royalSlider  rsDefaultInv">
        <div class="rsContent">
          <div class="jobs-culture-slider-wrap">
            <div class="slider-image-cols">
              <div class="image-box team-dota"></div>
            </div>
            <div class="slider-image-cols text-box">
              <div class="culture-text-box pseudo-table">
                <div class="centering-wrap">
                  <h3><span>Dota2 Team</span></h3>
                  <p>Bạn muốn mình được như Dendi, S4, Mushi được cả thế giới biết đến như những huyền thoại Dota.<br>
                  Có thể chúng tôi không biết farm thần thánh như Burning, Sylar, Loda, không support một cách chuẩn xác như Puppey, Chuan nhưng chúng tôi sẽ dạy bạn cách bóp sao cho đến cả Mushi cũng không đỡ được<br>
                  Hãy đến với chúng tôi<br>
                  Cộp, FEED, Team Dota hàng đầu Framgia !<br>
                  Cộp, FEED, Team Dota hàng đầu Framgia !<br>
                  Cộp, FEED, Team Dota hàng đầu Framgia !<br>
                  Cộp, FEED, Team Dota hàng đầu Framgia !</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rsContent">
          <div class="jobs-culture-slider-wrap">
            <div class="slider-image-cols">
              <div class="image-box team-framgia-fc"></div>
            </div>
            <div class="slider-image-cols text-box">
              <div class="culture-text-box pseudo-table">
                <div class="centering-wrap">
                  <h3><span>FramgiaFC - nơi mọi cảm xúc thăng hoa, nơi biến những giấc mơ của bạn thành hiện thực.</span></h3>
                  <p>Tại đây bạn sẽ không gặp những danh thủ nổi tiếng như Ronaldo hay Messi, nhưng bạn sẽ có nhiều cơ hội được thi đấu cùng hai danh thủ nổi tiếng nhất Framgia: Vinh Nhổn và Văn Nghĩa, họ sẽ mang đến cho bạn những tràng cười sảng khoái nhất sau nhiều giờ đồng hồ làm việc mệt nhọc trước màn hình máy tính.
                  Nếu bạn không thích bóng đá nhưng thích sữa chua mít, uống bia hay ăn lẩu, bạn vẫn luôn được chào đón tại đây.
                  Hãy để FramgiaFC nâng cánh, biến giấc mơ đứng trên bục vinh quang của bạn trở thành hiện thực tại Framgia Cup 2014.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rsContent">
          <div class="jobs-culture-slider-wrap">
            <div class="slider-image-cols">
              <div class="image-box team-lol"></div>
            </div>
            <div class="slider-image-cols text-box">
              <div class="culture-text-box pseudo-table">
                <div class="centering-wrap">
                  <h3><span>LoL Team</span></h3>
                  <p>Team của chúng tôi có chiến thuật rõ ràng cho từng vị trí:<br />
                  Top: Tôi sẽ đẩy lẻ và mặc kệ bạn<br />
                  Jungle: Tôi sẽ ăn hết các bùa và không bao giờ gank<br />
                  Mid: Tôi sẽ farm, farm và farm<br />
                  Support: Tôi sẽ ks của bạn<br />
                  Adc: thấy địch là tôi chạy</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rsContent">
          <div class="jobs-culture-slider-wrap">
            <div class="slider-image-cols">
              <div class="image-box team-coc"></div>
            </div>
            <div class="slider-image-cols text-box">
              <div class="culture-text-box pseudo-table">
                <div class="centering-wrap">
                  <h3><span>CLB Tiếng Nhật</span></h3>
                  <p>Đến với Framgia Japanese Club, bạn sẽ được tham gia vào những giờ học bổ ích, thoải mái chém gió và chém cả những thầy cô  dễ mến. Hãy cùng  tìm hiểu tại sao những Hán tự xinh đẹp nhưng khó hiểu. Hãy cùng học ăn, học nói, học gói, học hát tiếng Nhật và còn rất nhiều điều thú vị khác nữa. よこそ！フランジア 日本語クラブへ</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="jobs-positions-container" style="padding-top: 17px; padding-bottom: 33px;">
  <div class="pagination-centered">
    <div class="jobs-title-box">
      <h2 class="jobs-title">Hãy gia nhập và thành công cùng chúng tôi.</h2>
    </div>
    <div class="container wide" style="margin-top: 20px;">
      <div class="row-fluid of-hidden">
        <div class="span4">
          <div class="category-image-box creative">
            <div class="title-box">
              <h2 class="pagination-centered">Creative</h2>
              <p>Đội ngũ sáng tạo và kiểm thử</p>
            </div>
          </div>
          <div class="category-box">
            <div class="category-box-inner">
              <ul>
                <li style="display: none;"><a href="/recruits?job=designweb">Web/App Designer</a> </li>
                <li><a href="/recruits?job=frontend">Front End Developer (<em>tuyển gấp</em>)</a> </li>
                <li><a href="/recruits?job=qa">Automation Tester (<em>tuyển gấp</em>)</a> </li>
                <li><a href="/recruits?job=uidesign">UI/UX Designer (<em>tuyển gấp</em>)</a> </li>
		<li><a href="/recruits?job=html_coder">HTML Coder (<em>tuyển gấp</em>)</a> </li>
		<li><a href="/recruits?job=swift">Swift Developer (<em>tuyển gấp</em>)</a> </li>
		<li style="display: none;"><a href="/recruits?job=design">Japanese QA/Tester (N2)</a></li>
                <li style="display: none;"><a href="/recruits?job=uidesign">UI/UX Engineer-cum-Designer</a></li>
                <li><a href="/recruits?job=rd_engineer">R&D Engineer/Researcher(<em>tuyển gấp</em>) <span class="new_position" style="color: red;">NEW</span></a></li>
		<!--<li><a href="/recruits?job=design">Game Mobile Artist</a></li>-->
              </ul>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="category-box">
            <div class="category-image-box engineer">
              <div class="title-box">
                <h2 class="pagination-centered">Engineering</h2>
                <p>Đội ngũ kỹ sư phần mềm</p>
              </div>
            </div>
            <div class="category-box-inner">
              <ul>
                <li><a href="/recruits?job=python" style="display: none;">Python Developer (<em>tuyển gấp</em>) </a></li>
                <li><a href="/recruits?job=ios">iOS Developer (<em>tuyển gấp</em>) </a></li>
                <li><a href="/recruits?job=android">Android Developer (<em>tuyển gấp</em>) </a></li>
                <li><a href="/recruits?job=brse">Bridge SE (<em>tuyển gấp</em>)</a></li>
                <li><a href="/recruits?job=comtor">Japanese Communicator(<em>tuyển gấp</em>)</a></li>
                <li><a href="/recruits?job=php">PHP Developer (<em>tuyển gấp</em>) </a></li>
                <li><a href="/recruits?job=rails">Ruby on Rails Developer (<em>đang tuyển</em>)</a></li>
                <li><a href="/recruits?job=java">Java Developer (<em>đang tuyển</em>)</a></li>
                <li style="display: none;"><a href="/recruits?job=infrastructure"> Infrastructure Engineer </a></li>
		<li><a href="/recruits?job=net">Senior .Net Developer(<em>tuyển gấp</em>) </a></li>
                <li><a href="/recruits?job=software_trainer">Software Trainer(<em>tuyển gấp</em>) </a></li>
		<li><a href="/recruits?job=newdev">New Developer (<em>đang tuyển</em>) </a></li>
		<li><a href="/recruits?job=inter"> Intership (<em>tuyển gấp</em>) </a></li>  
              </ul>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="category-image-box business">
            <div class="title-box">
              <h2 class="pagination-centered">Back Office</h2>
              <p>Hành chính văn phòng</p>
            </div>
          </div>
          <div class="category-box">
            <div class="category-box-inner">
              <ul>
                <li style="display: none;"><a href="/recruits?job=hr">Human Resource</a></li>
                <li><a href="/recruits?job=teacher">Japanese Teacher(<em>tuyển gấp</em>)</a></li>
		<li><a href="/recruits?job=back_office">Nhân viên nhân sự(<em>tuyển gấp</em>) <span class="new_position" style="color: red;">NEW</span></a></li>
		<li><a href="/recruits?job=admin_officer">Administration Officer (Tiếng Nhật)(<em>tuyển gấp</em>) <span class="new_position" style="color: red;">NEW</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /POSITIONS -->
<script src="/assets/jquery.royalslider.min.js"></script>
<script>
$(".royalSlider").royalSlider({
            // options go here
            // as an example, enable keyboard arrows nav
            keyboardNavEnabled: true,
            controlNavigation: "bullets",
            arrowsNav: false,
            loop: true,
            autoPlay: {
            // autoplay options go gere
            enabled: false,
            pauseOnHover: true
      }
        });
var slider = $(".royalSlider").data('royalSlider');
$("#slider-to-next").click(function(){
slider.next();
});

$("#slider-to-back").click(function(){
slider.prev();
});
</script>


<script type="text/javascript">
// -------------------------------------------------
// INITIALIZE
// -------------------------------------------------
$(function(){
    $("#positions-box").html("");
});

// -------------------------------------------------
// LOAD XML
// -------------------------------------------------

function xmlLoad(){
    $.ajax({
        url:'../jobs.xml',
        type:'get',
        dataType:'xml',
        timeout:1000,
        success:parse_xml
    });
}
// -------------------------------------------------
// GET XML DATA
// -------------------------------------------------

function parse_xml(xml,status){
    if(status!='success')return;
    $(xml).find('item').each(disp);
}
// -------------------------------------------------
// GENERATE HTML CONTENT
// -------------------------------------------------
function disp(){
    //各要素を変数に格納
    var $jobid = $(this).find('jobid').text();
    var $title = $(this).find('title').text();
    var $overview = $(this).find('overview').text();
    var $require = $(this).find('require').text();
    var $desired = $(this).find('desired').text();
    var $etc = $(this).find('etc').text();
    var $label = $(this).find('label').text();
    var $category = $(this).find('category').text();
    var $jobCategoryType = $(this).find('jobtype').text();
    var $content = $(this).find('content').text();
    var $url = $(this).find('url').text();
    var $target = $(this).find('target').text();
    var contentBlock = $("<div class='modal hide fade job-modal' id='"+$jobid+"'><div class='modal-header'><button class='close' data-dismiss='modal'>×</button><h3>"+$title+"</h3></div><div class='modal-body'><p>"+$overview+"</p>"+$content+"<h5>必須の経験・能力</h5><ul>"+$require+"</ul><h5>望ましい経験/能力</h5><ul>"+$desired+"</ul>"+$etc+"</div><div class='modal-footer'><a class='btn btn-alt btn-primary' href='jobs/new'>Apply Now</a></div>");
    contentBlock.appendTo('#positions-box');
}
//COMMAND
$(function(){
    xmlLoad();
});

$(function(){
     $(".scroll").click(function(){
          var Hash = $(this.hash);
          var HashOffset = $(Hash).offset().top;
          $("html,body").animate({
               scrollTop: HashOffset -60
          }, 500);
          return false;
     });
});


$(".team-cols").hover(
  function () {
  var name = $(this).find(".before").attr("data-team-name");
  var job = $(this).find(".before").attr("data-team-job");
  var country = $(this).find(".before").attr("data-team-country");
  var lastName = $(this).find(".before").attr("alt");
  var contentBox = $(this).find(".hover-content");
  contentBox.append("<h3>"+name+"</h2><small>"+job+"</small><hr /><small>"+country+"</small>");
  $(this).addClass("active")
  },
  function () {
  var contentBox = $(this).find(".hover-content");
  contentBox.html("");
  $(this).removeClass("active")
  }
);

$("#welcome").hover(
  function () {
  $(".team-cols").addClass("welcome-active");
  },
  function () {
  $(".team-cols").removeClass("welcome-active");
  }
);

$(".jobs-modal-toggle").click(function(){
  var jobName = $(this).attr("href");
  jobName.modal("show");
})

$(window).bind('load',function(){ 
    setTimeout(function(){
  window.scrollBy(0,1);　
　},1);
});

/* $("#header").hide() */
</script>
