<table>
  <tr>
    <td>Name</td>
    <td><%= @entry.name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @entry.email %></td>
  </tr>
  <tr>
    <td>Job</td>
    <td><%= @entry.m_job.try(:name) %></td>
  </tr>
  <tr>
    <td>Github</td>
    <td><%= @entry.github_id %></td>
  </tr>
  <tr>
    <td>Self PR</td>
    <td><%= @entry.self_pr %></td>
  </tr>
  <tr>
    <td>Other information</td>
    <td><%= @entry.other_information %></td>
  </tr>
  <tr>
    <td>CV</td>
    <td><%= link_to "CV", @entry.cv_url %></td>
  </tr>
</table>
<%= link_to "Back", admin_root_path %>
